.carousel {
    --carousel-offset: 32%;
    --carousel-pacity: 0.8;
    --carousel-scale: 0.8;

    place-self: center;
    width: 80%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
}

.carousel-cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-card {
    position: fixed;
    width: 80%;
    height: 100%;
    transition: transform .4s ease;
    cursor: pointer;
}

.carousel img {
    width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.carousel input {
    display: none;
}

#carousel-item-1:checked ~ .carousel-cards #carousel-player-1,
#carousel-item-2:checked ~ .carousel-cards #carousel-player-2,
#carousel-item-3:checked ~ .carousel-cards #carousel-player-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

#carousel-item-1:checked ~ .carousel-cards #carousel-player-2,
#carousel-item-2:checked ~ .carousel-cards #carousel-player-3,
#carousel-item-3:checked ~ .carousel-cards #carousel-player-1 {
    transform: translatex(calc(-1 * var(--carousel-offset))) scale(var(--carousel-scale));
    opacity: var(--carousel-pacity);
    z-index: 0;
}

#carousel-item-1:checked ~ .carousel-cards #carousel-player-3,
#carousel-item-2:checked ~ .carousel-cards #carousel-player-1,
#carousel-item-3:checked ~ .carousel-cards #carousel-player-2 {
    transform: translatex(var(--carousel-offset)) scale(var(--carousel-scale));
    opacity: var(--carousel-pacity);
    z-index: 0;
}
