html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: Consolas, -apple-system, monospace;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.content-wrapper {
    height: calc(100vh - var(--nav-header-height));
    overflow: auto;
    display: grid;

    grid-template-rows:
            var(--main-tags-bar-height)
            var(--main-carousel-height)
            auto
            var(--main-footer-height);
}

@media (max-width: 900px) {
    .carousel {
        display: none !important;
    }
    .content-wrapper {
        grid-template-rows:
            var(--main-tags-bar-height)
            auto
            var(--main-footer-height);
    }
}

.content-wrapper::after {
    height: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.material-icons {
    user-select: none;
    -webkit-user-drag: none;
}

.material-icons-inline {
    vertical-align: bottom;
}

.icon-button {
    color: var(--c-inactive);
    background-color: transparent;
    border: none;
    padding: 2px;
    margin: 0;
    font-size: 1.8rem;
    width: 2.8rem;
    height: 2.8rem;
    vertical-align: center;
    cursor: pointer;
}

.icon-button:hover {
    color: var(--c-primary);
}

.channel-avatar {
    justify-self: left;
}

.channel-avatar img {
    margin-left: 4px;
    max-height: 40px;
    width: auto;
    height: auto;
    vertical-align: middle;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--c-text);
    -webkit-box-shadow: 0 0 0 1000px #00000000 inset;
    transition: background-color 50000s ease-in-out 0s;
}

*::-webkit-scrollbar {
    width: 0.6rem;
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 12px;
}

*:hover::-webkit-scrollbar-thumb {
    background: var(--c-inactive);
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.live-indicator-online {
    background-color: var(--c-live);
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(241, 48, 31, 1);
    }
    100% {
        box-shadow: 0 0 0 8px rgba(241, 48, 31, 0);
    }
}

.live-indicator-offline {
    visibility: hidden;
}
