.nav {
    position: relative;
    z-index: 5;
}

.nav-wrapper {
    padding: var(--horizontal-padding);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--c-surface);
    box-shadow: 0 0 6px #333;
    height: var(--nav-header-height);
    transition: background-color 0.3s;
}

/* Logo */

.nav-logo {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;

    color: var(--c-primary);
    line-height: 100%;
    text-align: center;
    font-size: var(--nav-logo-size);
}

.nav-logo i {
    font-size: var(--nav-logo-size);
    margin-right: 6px;
}

/* Search */

.nav-search {
    display: flex;
    flex-grow: 6;
    justify-content: center;
    align-items: center;
}

.nav-search-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    height: 2.8rem;
    width: 50%;
    min-width: 10rem;
    padding: 2px 6px 2px 6px;
    margin-left: 2rem;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--c-background);
}

.nav-search-wrapper:focus-within {
   border-color: var(--c-primary)
}

#nav-search-label {
    position: absolute;
    left: 1ch;
    pointer-events: none;
    opacity: 1;
    transition: opacity 1s ease;
}

#nav-search-box {
    height: 80%;
    color: var(--c-text);
    font-size: 1rem;
    width: calc(100% - 32px);
    border: none;
    outline: none;
    background-color: transparent;
}

#nav-search-box::-webkit-search-cancel-button {
    display: none;
}

#nav-search-box:-webkit-autofill ~ #nav-search-label,
#nav-search-box:-webkit-autofill:hover ~ #nav-search-label,
#nav-search-box:-webkit-autofill:focus ~ #nav-search-label {
    transition: opacity 0s;
    opacity: 0;
}

#nav-search-box:not(:placeholder-shown) ~ #nav-search-label {
    transition: opacity 0s;
    opacity: 0;
}

#nav-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 3px;
    position: absolute;
}

#nav-search-voice-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Actions */

.nav-actions {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.nav-actions > li {
    margin-left: 6px;
    display: inline-block;
}

.nav-actions-menu-button {
    color: var(--c-text);
    background-color: var(--c-secondary);
    padding: 6px;
    border-radius: 50%;
}

.nav-actions-menu-button:hover {
    color: var(--c-text);
    filter: brightness(120%);
}

.nav-actions-dropdown {
    display: table-column;
    list-style: none;
    padding-left: 0;
    position: absolute;
    box-shadow: 0 0 6px #333;
    right: 12px;
    visibility: hidden;
    opacity: 0;
}

.nav-actions-dropdown:hover,
.nav-actions-menu:hover > ul {
    transition: opacity 0.3s;
    visibility: visible;
    opacity: 1;
}

.nav-actions-dropdown li {
    width: auto;
    background: var(--c-surface);
    padding: 16px;
    text-decoration: none;
    transition-duration: 0.5s;
}

.nav-actions-dropdown li:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.nav-actions-dropdown li > a {
    color: var(--c-text);
    font-size: 1.2rem;
}

.nav-actions-dropdown .material-icons {
    margin-right: 1rem;
}

#nav-actions-logout {
    color: var(--c-error);
}

#nav-actions-logout > a {
    color: var(--c-error);
}

@media (max-width: 550px) {
    .nav-search {
        display: none;
    }
}
