.sidebar {
    float: left;
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: column;
    height: calc(100% - var(--nav-header-height));
    width: var(--sidebar-width);
    overflow: auto;
    background-color: var(--c-surface);
    transition: width 0.3s ease, background-color 0.3s;
    padding: var(--horizontal-padding);
}

.sidebar {
    width: var(--sidebar-width);
}

/* Channels */

.sidebar-channels-list {
    width: 100%;
    flex-grow: 1;
    padding-top: 12px;
    padding-inline-start: 0;
    height: 0;
    list-style: none;
    margin: 0;
    overflow-x: hidden;
}

.sidebar-channel-card {
    width: var(--sidebar-width);
    height: 3rem;
    margin-bottom: 6px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 3.2rem minmax(0, auto) 1rem 3.4rem;
    align-items: center;
}

.sidebar-channel-card:hover {
    background-color: var(--c-surface);
    cursor: pointer;
    filter: brightness(80%)
}

.sidebar-channel-card span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display:inline-block;
}

.sidebar-channel-card > .live-indicator-online {
    place-self: center;
}

.sidebar-channel-card-title {
    width: 100%;
    justify-self: start;
    font-size: 1rem;
}

.sidebar-channel-card-viewers {
    width: 100%;
    justify-self: end;
    margin-right: 4px;
    text-align: end;
}

/* Info */

.sidebar-info {
    width: 100%;

    padding: 8px 0 8px 0;

    overflow: hidden;
}

.sidebar-info-wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--c-background);
    transition: background-color 0.3s;
    border-radius: 8px;
}

.sidebar-info-wrapper p {
    flex-grow: 2;
    display: inline-block;
    margin-block-end: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: var(--c-text);
}

.sidebar-info-wrapper p::selection {
    color: var(--c-surface);
    background-color: var(--c-primary);
}

.sidebar-info-wrapper ul {
    padding-inline-start: 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    padding: 0 12px 0 12px;
}

.sidebar-info-wrapper li {
    display: inline-block;
    margin: 8px 8px 8px 8px;
}

.sidebar-info-wrapper svg {
    fill: var(--c-text);
    width: 32px;
    height: 32px;
}

.sidebar-info-wrapper svg:hover {
    fill: var(--c-primary);
}

@media (max-width: 1200px) {
    .sidebar {
        width: var(--sidebar-width-minimized);
    }

    .sidebar-channel-card {
        width: var(--sidebar-width-minimized);
        height: var(--sidebar-width-minimized);
        align-items: center;
    }

    .sidebar-channel-card-title,
    .sidebar-channel-card .live-indicator-online,
    .sidebar-channel-card-viewers {
        display: none;
    }

    .sidebar-info {
        display: none;
    }
}
