.tags-bar {
    margin-top: 6px;
    padding: var(--horizontal-padding);
    display: flex;
    align-items: center;
    justify-content: start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;

    overflow-y: hidden;
    overflow-x: scroll;
}

.tag {
    padding: 6px 12px 6px 12px;
    margin-right: 6px;
    border-radius: 32px;
    border: 1px solid var(--c-inactive);
    width: fit-content;
    background-color: var(--c-surface);
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.tag:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.tag > span {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.tag#tag-all {
    background-color: var(--c-secondary);
    border-color: var(--c-primary);
}
