:root {
    --horizontal-padding: 0 8px 0 8px;

    --nav-logo-size: 26px;
    --nav-header-height: 4rem;

    --sidebar-width: 16rem;
    --sidebar-width-minimized: 3rem;

    --main-tags-bar-height: 3.9rem;
    --main-carousel-height: 28rem;
    --main-videos-list-height:5 rem;
    --main-footer-height: 2.6rem;

    --c-live: #f1301f;

    --c-light-text: #333;
    --c-light-primary: #673AB7;
    --c-light-secondary: #f686fc;
    --c-light-accent: #03DAC6;
    --c-light-background: #E0E0E0;
    --c-light-surface: #FFFFFF;
    --c-light-inactive: gray;
    --c-light-error: #B00020;

    /* Dark theme */
    --c-dark-text: #fff;
    --c-dark-primary: #BB86FC;
    --c-dark-secondary: #b551c7;
    --c-dark-accent: #790165;
    --c-dark-background: #121212;
    --c-dark-surface: #1e1e1e;
    --c-dark-inactive: gray;
    --c-dark-error: #CF6679;
}

.theme-container {
    --c-text: var(--c-light-text);
    --c-primary: var(--c-light-primary);
    --c-secondary: var(--c-light-secondary);
    --c-accent: var(--c-light-accent);
    --c-background: var(--c-light-background);
    --c-surface: var(--c-light-surface);
    --c-inactive: var(--c-light-inactive);
    --c-error: var(--c-light-error);

    transition: background-color 0.3s;
    color: var(--c-text);
    background-color: var(--c-background);
}

.dark-mode-checkbox:checked ~ .theme-container {
    --c-text: var(--c-dark-text);
    --c-primary: var(--c-dark-primary);
    --c-secondary: var(--c-dark-secondary);
    --c-accent: var(--c-dark-accent);
    --c-background: var(--c-dark-background);
    --c-surface: var(--c-dark-surface);
    --c-inactive: var(--c-dark-inactive);
    --c-error: var(--c-dark-error);
}

.dark-mode-label::before {
    font-size: 1.6rem;
    vertical-align: 0.2rem;
    user-select: none;
    cursor: pointer;
    border: none;
    -webkit-user-drag: none;

    content: "\01F31E";
}

.dark-mode-checkbox:checked ~ .theme-container .dark-mode-label::before {
    content: "\01F31A";
}

#dark-mode {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
}
