.video-feed {
    padding: var(--horizontal-padding);
    padding-top: 2rem;
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-template-rows: auto;
    justify-content: center;
}

.video-card {
    width: 100%;
    height: 18rem;
    border-radius: 6px;
    background-color: var(--c-surface);
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
}

.video-card-image {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80%;
    cursor: pointer;
}

.video-card-image-play,
.video-card-image-live,
.video-card-image-info {
    position: absolute;
}

.video-card-image-live {
    left: 0.6rem;
    top: 0.6rem;
    color: var(--c-dark-text);
    background-color: var(--c-live);
    border-radius: 6px;
    padding: 2px 6px;
}

.video-card-image-info {
    right: 0.4rem;
    bottom: 0.4rem;
    color: var(--c-dark-text);
    background-color: var(--c-dark-surface);
    border-radius: 6px;
    padding: 2px 6px;
}

.video-card-image-play {
    top: 45%;
    bottom: 50%;
    font-size: 2rem;
    color: var(--c-dark-text);
    transition: all 0.3s;
    opacity: 0;
}

.video-card-image img {
    max-width: 100%;
    max-height: none;
    object-fit: cover;

    transition: all 0.3s;
}

.video-card-image:hover > img {
    filter: brightness(40%);
}

.video-card-image:hover .video-card-image-play {
    opacity: 1;
}

.video-card-bottom {
    flex-grow: 1;
    width: 100%;
    height: available;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
}

.video-card-bottom .channel-avatar {
    cursor: pointer;
}

.video-card-description {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.video-card-description-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 75%;
    display: inline-block;
}

.video-card-description-channel-name {
    opacity: 0.8;
}

.video-card-description-actions {
    position: absolute;
    right: 0.6rem;
}

.video-card-description-title:hover,
.video-card-description-channel-name:hover,
.video-card-description-actions:hover {
    cursor: pointer;
    color: var(--c-primary);
}
